body {
    background:#F5F5F5;
    margin:0px;
    width:100%;
    height:100%;
    font-family: 'Play', sans-serif,'Alegreya Sans', sans-serif;
}
* {
  box-sizing: border-box;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
margin: 0;
}

.wrapper {
    overflow-x: hidden;                      
    min-height: 100%;
}

  .container{
    width: 1140px;
    margin:0 auto;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*align-items: flex-start;*/
    margin-bottom: 0px;
    margin-top: 10px;
    
    }
  

  .menu{
    display: flex;
    
  }

  .menu__list{
    display: flex;
    
  }

  .menu__icon{
    display: flex;
    margin-right: 20px;
  }

  .menu__icon:last-child{
    margin-right: 0px;
  }




.glavnaya{
  display: flex;
  align-items: center;

 
}

.glavnaya__preview{
  display: block;
}


.glavnaya__button{
  border: solid 1px transparent;
  border-radius: 100px;
  height: 55px;
  width: 165px;
  background: #E01F3D;
  padding: 20px  40px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  
}

.glavnaya__button:hover{
  background: #CA1B36;
  border: solid 1px #CA1B36;
}





.glavnaya__list{
  display: flex;
  
}

.glavnaya__item{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.glavnaya__item:last-child{
  margin-right: 0px;
}






.paginator{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 20px;
  
}

.paginator__list{
  position: fixed;
}

.paginator__item{
  display: block;
  margin-top:20px ;
  
}

.paginator__ellips{
  content: "";
  border-radius: 50%;
  background: #292929;
  height: 9px;
  width: 9px;
  
}


.paginator__item__activ{      /*почему черная точка наложилась на красную*/
  background: #E01F3D;
  height: 9px;
  width: 9px;

}







.pochemu{
  background: #fff;
}



.pochemu__list{
  display: flex;
}

.pochemu__text{
  display: flex;
  justify-content: center;
}

.pochemu__title{
  display: flex;
  justify-content: center;
}


.pochemu__spisok{
  display: flex;
  justify-content: center;
}


.pochemu__list{
  display: flex;
  justify-content:center;

}

.pochemu__item{
  /*display:block;*/
  display: flex;
  flex-direction: column;
  max-width: 280px;
  padding: 0px 10px;
  margin-right: 55px;
}

.pochemu__item:last-child{
  margin-right: 0px;
}

.circle {
  content: "";
  border-radius: 50%;
  width: 128px;
  height: 128px;
  background: red/*#F2F5F4*/;
  display: flex;
  /*align-items: center;
  padding-left: 30px;
  padding-top: 30px;
  margin-left: 50px;*/
  /*Почему при увеличении марджина кружок выскакивает из контейнера?*/
  
  align-items: center;
  justify-content: center;

}

.pochemu__item__text{
display: block;
}

.pochemu__item__title{
  padding-left: 20px;
}















.shop{
  display: flex;
  align-content: center;
  padding: 90px 60px;
}

.shop__pictures{
/*overflow-x:  hidden;*/ 
margin-right: 60px;
border-radius: 50%;
max-width: 450px;
max-height: 450px;
}


.container__vipad{
content: "";
width: 90px;
height: 90px;
background: #9A9A9A;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
}

.shop__box{
  margin-top: 25px;
}



.shop__list{
  display: flex;
}

.shop__item{
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}


.shop__item:last-child{
  margin-right: 0px;
}

.shop__title{
  margin-bottom: 0px;
}


.container__cost{
  display: flex;
  align-items: center;
  
}

.cost{
  margin-right: 15px;
}



.shop__button{
  border: solid 1px transparent;
  border-radius: 100px;
  height: 55px;
  width: 165px;
  background: #E01F3D;
  padding: 20px  40px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  
}

.shop__button:hover{
  background: #CA1B36;
  border: solid 1px #CA1B36;
}

















.team{
background: #FFF;
}


.team__text{
  display: flex;
  justify-content: center;
}

.team__box{
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  max-height: 455px;
}

.team__item{
  display: block;
  max-height: 455px;
  max-width: 220px;
  max-height: 455px;

}

.team__triangle{
  background: crimson;
  height: 10px;
  width: 10px;
}


.slider{
  background: url('slider/Slider.png') no-repeat;
  /*почему так странно отбразилась картинка я же поставил не повторение*/
  height:650px ;
  position: relative;
  
}

.slider__text{
  color: #fff;
  margin-left: 85px;
  margin-top: 90px;
  position: absolute;
}










.feedback{
  background: #FFF;
  height: 650px;
}

.feedback__text{
  display: flex;
  justify-content: center;
}

.feedback__contents{
  display: flex;
  justify-content: center;
  max-width: 940px;
  padding: 42px;
}


.feedback__desk{
  display: block;
  margin-left: 40px;
  max-width: 500px;
  max-height: 264px;
}





.feedback__spisok{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
 
  
}


.feedback__list{
  display: flex;
}

.feedback__item{
  margin-right: 20px;
  
}

.feedback__icon{
  overflow-x:  hidden; 
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.feedback__item:last-child{
  margin-right: 0px;
}

.feedback__item__activ{
  border: solid 5px red;
  border-radius: 50%;
  width: 85px;
  height: 85px;

}





.video{
  height: 650px;
}



.video__text{
  display: flex;
  justify-content: center;
}

.video__content{
  display: flex;
  justify-content: center;
  margin-bottom: 110px;
}












.zacaz{
  background:url('zacaz/cta.png');
  color:#fff;
  margin-bottom: 0px;
  
}

.zacaz__container{
padding: 70px 0px;
height: 650px;
/*display: flex;
flex-direction: column;*/ 
}



.zacaz__text{
  display: flex; 
  justify-content: center;
  }
  
  
  .form__row{
    display: flex;
  }

  .form__row__one{
    display: flex;
    flex-wrap: wrap;
  }

  .form__imput{
  display: flex;
  flex: 1;
  margin-right: 20px;
  border: 2px solid transparent;
  border-radius: 4px;
  /*padding: 20px 250px 20px 30px;*/
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #1A1B1E;
  background: #FFFFFF;
  }

  .form__imput__one{
  display: flex;
  flex: 1;
  margin-right: 20px;
  border: 2px solid transparent;
  border-radius: 4px;
  /*padding: 20px 250px 20px 30px;*/
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #1A1B1E;
  background: #FFFFFF;

  }

  .form__imput:last-child{
    margin-right: 0px;
  }


  .form__imput--textarea{
    display: flex;
    flex:1;
    margin-right: 0px;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 20px ;
    height: 256px;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #1A1B1E;
    background: #FFFFFF;
  }


  .form__row__four{
    display: flex;
  }

  .form__row__five{
    display: flex;
  }

  .form__row__seven{
    display: flex;
    flex-wrap: wrap;
  }







  
  .zacaz__button{
    display: flex;
    align-items: center;
    margin-top: 200px;
    margin-left: 400px;
    
  }

.zacaz__button__one{
    border: solid 1px transparent;
    border-radius: 100px;
    height: 55px;
    width: 165px;
    background: #E01F3D;
    padding: 20px  40px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    
  }
  
  .zacaz__button__one:hover{
    background: #CA1B36;
    border: solid 1px #CA1B36;
  }

  .zacaz__button__two{
    color: #FFFFFF;
  }





  


/*.form__row{
  display: flex;
  margin-bottom: 30px;
}

.form__row:last-child{
  margin-bottom: 0px;
}
.form__imput{
  /*display: flex;*/
  /*flex: 1;
  margin-right: 20px;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 20px 250px 20px 30px;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #1A1B1E;
  background: #FFFFFF;
}

.form__imput:hover{
  border:solid 2px salmon;
  
}



.form__imput:last-child{
  margin-right: 0px;
}

.form__imput--textarea{
  display: flex;
  flex:1;
  margin-right: 0px;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 20px ;
  height: 256px;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #1A1B1E;
  background: #FFFFFF;
}


.form__imput--textarea:hover{
  
  border: solid 2px salmon;
  
}*/


































  .map{
    background: url("map/map.png");
    height: 600px;
  }



  .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    background: #fff;
    max-height: 90px;
    padding: 20px;
  }

  .footer__col{
    display: flex;
    flex-direction: column;
    
    } 
    
  .footer__col--align--right{
      justify-content: flex-end;
    }


  .socials{
    margin-right: 50px;
    justify-content: flex-end;
  }

  .socials__list{
    display: flex;
  }

  .social__item{
    vertical-align: middle; 
    margin-left:20px;
    /*margin-top: 0px;*/
    display: flex;
  }

  .social__item:first-child{
    margin-left: 0;
  }
